h3 {
  background-color: green;
  color: red;
  width: 10rem;
}
#father {
  background-color: pink;
}

.third {
  background-color: blue;
  color: yellow;
}

.trial {
  font-size: 24px;
}

img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

/* h3 {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
} */

/* The start of h3 styling */
h3 {
  /* padding: north(top) east(right) south(bottom) west(left); */
  /* padding: 20px 10px 15px 30px; */
  /* padding: 20px 10px; */
  padding: 10px;
}

h1 {
  background-color: blue;
  color: red;
  padding-top: 20px;
  padding-left: 40px;
  padding-bottom: 20px;
  padding-right: 20px;

  /* margin-top: 300px; */
}

h2 {
  /* border-width: 5px;
  border-style: solid;
  border-color: blueviolet; */

  border: 3px solid goldenrod;
  outline: solid 10px red;
  /* border-radius: 10px; */

  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;

  padding: 4px 2px 5px 5px;
}

h1 {
  background-color: green;
  color: pink;
}

li {
  background: yellow;
  color: red;
  width: 40%;
  padding: 10px;

  margin: 20px;
}

a:visited {
  color: orange;
}
a {
  color: forestgreen;
}
a:hover {
  color: blanchedalmond;
}
ul {
  list-style-type: circle;
}
ol {
  list-style-type: upper-roman;
}
/* width, height, padding, margin */

.direction {
  display: block;
}

p {
  display: inline;
}
